.features {
  display: flex;
  margin-left: calc(-1 * #{$marginSetGap});
}

.features__item {
  flex-basis: calc(100% / 4 - #{$marginSetGap});
  margin-left: $marginSetGap;
}

.features__block {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: $sectBgColor;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: $primaryTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;
}

.features__text {
  color: $secondaryTextColor;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  width: 270px;
}
